{% extends '../master.html' %}

<!-- {% block titulo %}Detalle Articulo - art. {{ articulo.id }}{% endblock %} -->

{% block contenido %}

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ articulo.titulo }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ articulo.subtitulo }}</h6>
        <p class="card-text">{{ articulo.cuerpo }}</p>
        <p>Fecha de creacion: {{ articulo.fecha_creacion }}</p>
        {% if user.is_staff %}
            <a href="{% url 'articulo:editar' pk=articulo.id %}" class="card-link">Editar</a>
            <a href="{% url 'articulo:borrar' pk=articulo.id %}" class="card-link">Borrar</a>
        {% endif %}
    </div>
</div>

{% endblock %}